@import url(https://static.mux.com/fonts/fonts.css);

html,
body,
a,
a:visited {
  padding: 0;
  margin: 0;
  font-family: Akkurat;
}

body {
  height: 100vh;
  width: 100vw;
  -webkit-font-smoothing: antialiased;
}

#__next, .app-container {
  width: 100%;
  height: 100%;
}

a, a:visited {
  cursor: pointer;
  mix-blend-mode: exclusion;
  color: #f8f8f8;
}

p {
  mix-blend-mode: exclusion;
  color: #f8f8f8;
  font-size: 18px;
  line-height: 20px;
}

h1 {
  mix-blend-mode: exclusion;
  color: #f8f8f8;
  font-family: Akkurat;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 45px;
  margin: 0;
  text-align: left;
  max-width: 90vw;
}

h2 {
  font-family: Akkurat;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 33px;
}

select {
  padding: 5px;
  font-family: Akkurat;
  background: #E8E8E8;
  font-size: 20px;
  color: #222;
  width: 400px;
  line-height: 20px;
  border: none;
  border-radius: 5px;
}

select:hover {
  opacity: 0.75;
}

.hidden {
  display: none;
}

* {
  box-sizing: border-box;
}

::selection {
  background: darkgray;
  color: white;
}

@media only screen and (min-width: 900px) {
  h1 {
    font-size: 5vw;
    line-height: 6vw;
    text-align: left;
    max-width: 45vw;
  }
  p {
    font-size: 26px;
    line-height: 38px;
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
